
.contact-form {
    background-color: rgb(100, 149, 255);
    border: 0px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
  }
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 18px;
    color: #ffffff;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 209, 209);
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
  

  @media (max-width: 768px) {
    .contact-form {
      margin: 10px;
      padding: 15px;

    }
  
    h2 {
      font-size: 20px;
    }
  
    label {
      font-size: 16px;
    }
  
    input, textarea {
      font-size: 14px;
    }
  
    button {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
  